<div class="row">
    <div class="col-3">
        <product-filter [categor]="category"></product-filter>
    </div>

    <div class="col"> <!--2nd column of the page which takes width which is left as col-9 as total page is : col-12-->
        <div class="row">
            <ng-container  *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    
                    <!--calling the product-card component-->
                    <product-card [product] = "p" [show-actions]="true" [shopping-cart]="cart"></product-card> 

                    <!--Below Product Card logic is moved to product-card component and pass @Input property-->
                        <!-- <div    
                            class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="p.imageUrl" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ p.title }}</h5>
                                    <p class="card-text">{{ p.price | currency:'USD' : true}}</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                        </div>     -->
                    
                    </div>
                <div *ngIf="(i + 1) % 2 ==0"  class="w-100"></div>
        
            </ng-container>    
        </div>
    </div>
</div>



